.about {
  background-color: black;
  color: white;
  padding: 4rem 2rem;
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.about p {
  text-align: justify;
  line-height: 1.6;
  /* Optional: improves readability */
  color: gray;
  max-width: 74vw;
  /* Optional: limit width for better appearance */
  margin: 0 auto;
  font-size: 20px;
  /* Center the paragraph horizontally */
}


@media (max-width: 768px) {
  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
    padding: 0 1rem;
  }
}